@import 'tailwindcss';

@tailwind utilities;
@tailwind components;
@tailwind base;

* {
    box-sizing: border-box;
}

nav a.active {
    color: #00bcff;
}

input,select {
    display:block;
    width: 100%;
    padding: 7px 5px;
    border: 1px solid rgba(128, 128, 128, 0.471);
}